on:
  workflow_call:
    inputs:
      TEAM:
        required: false
        type: string
        default: "teampam"
      NODE_VERSION:
        required: false
        type: string
        default: "20"
      PACKAGE_MANAGER:
        required: false
        type: string
        default: "pnpm"
      NAIS_RESOURCE:
        required: false
        type: string
        default: ".nais/nais.yml"
      NAIS_VARS:
        required: false
        type: string
        default: ".nais/dev.yml"
      SKIP_DRAFT_RELEASE:
        required: false
        type: boolean
        default: false
      BUILD_COMMAND:
        required: false
        type: string
        default: "pnpm build"
      INSTALL_DEPENDENCIES_COMMAND:
        required: false
        type: string
        default: "pnpm install --frozen-lockfile"
      IMAGE_SUFFIX:
        required: false
        type: string
      CODEQL_ENABLED:
        required: false
        type: boolean
        default: true
      VERSION_TAG:
        required: false
        type: string
    outputs:
      image:
        description: "Image from nais build push action"
        value: ${{ jobs.deploy-dev.outputs.image }}
jobs:
  deploy-dev:
    permissions:
      contents: write
      id-token: write
      packages: read
      security-events: write
      actions: read
    runs-on: ubuntu-latest
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        if: ${{ inputs.PACKAGE_MANAGER == 'pnpm' }}
        with:
          run_install: false
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.NODE_VERSION }}
          cache: ${{ inputs.PACKAGE_MANAGER }}
      - name: Next.js npm cache
        if: ${{ inputs.PACKAGE_MANAGER == 'npm' }}
        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-
      - name: Install npm dependencies
        if: ${{ inputs.PACKAGE_MANAGER == 'npm' }}
        env:
          NPM_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
        run: |
          npm config set @navikt:registry https://npm.pkg.github.com
          npm config set //npm.pkg.github.com/:_authToken $NPM_AUTH_TOKEN
          npm ci
      - name: Next.js pnpm cache
        if: ${{ inputs.PACKAGE_MANAGER == 'pnpm' }}
        uses: actions/cache@v4
        with:
          path: |
            ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('pnpm-lock.yaml') }}-${{ hashFiles('**/*.ts', '**/*.tsx', '**/*.js', '**/*.jsx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('pnpm-lock.yaml') }}-
      - name: Install pnpm dependencies
        if: ${{ inputs.PACKAGE_MANAGER == 'pnpm' }}
        env:
          NPM_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
        run: |
          ${{ inputs.PACKAGE_MANAGER }} config set @navikt:registry https://npm.pkg.github.com
          ${{ inputs.PACKAGE_MANAGER }} config set //npm.pkg.github.com/:_authToken $NPM_AUTH_TOKEN
          ${{ inputs.INSTALL_DEPENDENCIES_COMMAND }}
      - name: Pre-deploy
        uses: navikt/pam-deploy/actions/pre-deploy@v7
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TEAM: ${{ inputs.TEAM }}
          IMAGE_SUFFIX: ${{ inputs.IMAGE_SUFFIX }}
          DRAFTS_MAX: "10"
          VERSION_TAG: ${{ inputs.VERSION_TAG }}
      - name: Run lint
        run: ${{ inputs.PACKAGE_MANAGER }} run lint
      - name: Run prettier
        run: ${{ inputs.PACKAGE_MANAGER }} run prettier
      - name: Run tests
        run: ${{ inputs.PACKAGE_MANAGER }} run test
      - name: Build application
        run: ${{ inputs.BUILD_COMMAND }}
        env:
          SENTRY_RELEASE: ${{ env.VERSION_TAG }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      - name: Upload static files to CDN
        uses: nais/deploy/actions/cdn-upload/v2@master
        with:
          team: ${{ inputs.TEAM }}
          source: ./.next/static
          destination: /${{github.event.repository.name}}/_next
      - name: docker-build-push
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: ${{ inputs.TEAM }}
          tag: ${{ env.VERSION_TAG }}
          image_suffix: ${{ inputs.IMAGE_SUFFIX }}
      - name: Deploy to dev-gcp
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: "dev-gcp"
          RESOURCE: ${{ inputs.NAIS_RESOURCE }}
          VARS: ${{ inputs.NAIS_VARS }}
      - name: Post-deploy
        uses: navikt/pam-deploy/actions/post-deploy@v7
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Draft release
        if: ${{ !inputs.SKIP_DRAFT_RELEASE }}
        uses: ncipollo/release-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag: ${{ env.VERSION_TAG }}
          name: ${{ env.DRAFT_NAME }}
          body: ${{ env.CHANGE_LOG }}
          draft: true
          prerelease: false

  CodeQL:
    if: ${{ inputs.CODEQL_ENABLED }}
    uses: navikt/pam-deploy/.github/workflows/codeql.yml@v7
    with:
      LANGUAGE: "node"
      BUILD_CACHE: "npm"
